[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlmini = {editable = true, path = "."}

[dev-packages]
pytest = ">=8.0"
ruff = ">=0.8"
black = ">=24.0"

[requires]
python_version = "3.13"
